/* .FileView-comment {
  white-space: pre-wrap;
  margin: 0 0 3em;
} */

.FileView-head-left {
  /* display: flex; */
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto; */
}
.FileView-img {
  float: left;
  width: 160px;
  height: 124px;
  aspect-ratio: auto 160 / 123;
  margin: 0 20px 20px 0;
}

.FileView-head {
  /* display: flex;
  justify-content: space-between; */
}
.FileView-header {
  cursor: pointer;
  margin: 0 0 10px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.1;
  color: #4e454c;
  text-shadow: 0 1px 0 #fff;
  display: block;
  -webkit-box-orient: vertical;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.FileView-container {
  float: left;
  width: 80%;
  margin-right: 0;
  max-height: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  /* padding-right: 20%; */
}

.FileView-content {
  float: left;
  width: 80%;
  margin-right: 0;
  max-height: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  /* padding-right: 20%; */
}

.FileView p {
  /* margin-bottom: 0.5em; */
  line-height: 0.3;
  /* margin: 0 0 1.5em;
  color: #393937;
  line-height: 1.5;
  max-height: 7.5em;
  text-overflow: ellipsis; */
}

.FileView-date {
  cursor: pointer;
  width: 18%;
  position: absolute;
  top: 40px;
  right: 0;
  float: right;
  font-family: Tiempos-Semibold;
  margin-left: 20px;
  display: block;
  font-size: 1.2em;
  /* line-height: 1.8; */
  /* font-family: GT-America-Mono-Thin-Italic; */
  /* text-transform: uppercase; */
}

.FileView-root {
  background: #e5e5e5;
  min-height: 100vh;
}

.FileView {
  padding: 0 2.43902439%;
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  min-height: 250px;
  padding: 30px 2.43902439%;
  display: block;
  margin-bottom: 10px;
  /* border-bottom: 0.8px solid lightslategrey; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* border-bottom: (1px black); */
}

.FileView-breadcrumb {
  margin: 0 auto;
  max-width: 840px;
  display: block;
  font-size: 0.6em;
  position: relative;
  padding: 10px 0;
  /* padding: 15px 2.43902439%; */
}
.FileView-header {
  margin: 0 auto;
  position: relative;
  max-width: 840px;
  display: block;
  padding: 0 2.43902439%;
}

.FileView-header1 {
  margin: 0 auto;
  position: relative;
  max-width: 840px;
  display: block;
  padding: 0 2.43902439%;
  cursor: pointer;
  margin: 0 0 10px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.1;
  color: #4e454c;
  text-shadow: 0 1px 0 #fff;
  display: block;
  -webkit-box-orient: vertical;
}

.FileView:last-child {
  border-bottom: none;
}
/* .FileView :not(:last-child){
  border-bottom: 0.8px solid lightslategrey;
} */
.FileView-comment {
  /* white-space:nowrap; */
  margin: 0 0 1.5em;
  color: #393937;
  line-height: 1.4;
  max-height: 7.5em;
  /* overflow: scroll; */
  /* word-wrap: break-word;  */
  /* -webkit-line-clamp: 10; */
  /* overflow: hidden; */
  text-overflow: ellipsis;
  /* display: -webkit-box; */
}


.FileView-footer{
  align-items: center;
  padding: 10px 0;
}