.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .editor-class {
    background-color:lightgray;
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
    border: 1px solid #ccc;
     /* background-color:lightgray; */
  }

  .Wysig_editor{
      max-height: 500px;
      overflow: scroll;
  }
  .FileViewEdit-container{
      padding: 20px 15%;
  }

  .FileViewEdit-header{
      padding: 10px 0;
  }

  .FileViewEdit-subhead1{
    text-align: center;
  }

  .FileViewEdit-subhead2{
    text-align: center;
  }

  .FileViewEdit-refform{
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
  }

  .FileViewEdit-refform-btn{
    margin-left: 5px;
    /* padding-left: 5px; */
  }

  .FileViewEdit-ref{
    padding: 20px;
  }

  .FileViewEdit-footer-btn{
    /* display: flex; */
    padding: 5px;
    align-items: flex-end;
    text-align: right;
  }

  .FileViewEdit-footer{
    background: lightslategrey;
    /* display: flex;
    padding: 5px;
    align-items: flex-end; */
  }